<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home/Index</title>
</head>
<body>
    <p>@ViewBag.Greeting @ViewBag.UserName, nasılsın?</p>
    <p>Umarım kurslarımızdan memnunsunuzdur.</p>
</body>
</html>