<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home/Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>@ViewBag.Greeting @ViewBag.UserName, nasılsın?</p>
    <p>Umarım kurslarımızdan memnunsunuzdur.</p>
    <a asp-action="apply" asp-controller="course">Başvuru Yap</a>
</body>
</html>