<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home/Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                <p>@ViewBag.Greeting @ViewBag.UserName, nasılsın?</p>
            </div>
            <div class="card-body">
                <p class="card-text">Umarım kurslarımızdan memnunsunuzdur.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="apply" asp-controller="course">Başvuru Yap</a>
            </div>
        </div>
    </div>

</body>
</html>