@model Student

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Course/Apply</title>
</head>
<body>
    <form asp-action="apply" method="post">

        <p>
            <label asp-for="Name">Adınız</label>
            <input asp-for="Name"/>
        </p>
        <p>
            <label asp-for="Email">Email</label>
            <input asp-for="Email"/>
        </p>
        <p>
            <label asp-for="Phone">Telefon</label>
            <input asp-for="Phone"/>
        </p>
        <p>
            <label asp-for="Confirm">Kursa Katılacak Mısınız</label>
            <select asp-for="Confirm">
                <option value="">Seçiniz</option>
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </p>


        <button type="submit">Gönder</button>
    </form>
</body>
</html>