@model IEnumerable<Student>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Course/List</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                <p>Kursa Katılanlar</p>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Confirm</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td>@student.Phone</td>
                            <td>@student.Confirm</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</body>
</html>